doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Noom | thanksgaga
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        header  
            h1 Noom 
            nav 
                a(href="/") Home
        main 
            div#welcome    
                form
                    input(placeholder="Enter your room name", required, type="text")
                    button Enter Room
                h4 Open Rooms:
                ul

            div#room
                h3 
                ul 
                form
                    input(placeholder="Input your message", required, type="text")
                    button Send
            

            div#nickname
                form 
                    label(name="nickname") Your nickname is this. Feel free to change it. 
                    input(placeholder="Enter your nickname", required, type="text", value="Anonymous", name="nickname")
                    button Change Nickname

        script(src="/socket.io/socket.io.js") 
        script(src="/public/js/app.js") 
